@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sora: var(--sora), "Montserrat", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #003333;
  --moon: #f4a648;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-sora {
  font-family: var(--sora), "Montserrat", sans-serif;
}
